.ant-menu-submenu-inline{
  text-align: left;
}
.pmoit-navgaition-logo{
  width: 100%;
  text-align: center;
  line-height: 80px;
  background-color: #002140;
  color: #ffffff;
  font-size: 22px;
}
.ant-menu-inline .ant-menu-submenu-title{
  font-size: 14px;
}
 .trigger {
  font-size: 20px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

/*#components-layout-demo-custom-trigger .logo {*/
  /*height: 32px;*/
  /*background: rgba(255,255,255,.2);*/
  /*margin: 16px;*/
/*}*/