<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.system.exceloperation.mapper.ExcelCourseMapper">

    <insert id="insertCourse" parameterType="com.isoftstone.pmit.project.hrbp.entity.ScoreCourse">
        INSERT INTO mms_course_test_score (employee_ID, opening_ID, test_score, type) VALUES
        <foreach collection="list" item="test" separator=",">
            (
            #{test.employeeID},
            #{test.openingID},
            #{test.courseScore},
            #{test.type}
            )
        </foreach>
    </insert>
    <select id="getCourse" resultType="com.isoftstone.pmit.project.hrbp.entity.ScoreCourse">
        select  employee_ID, opening_ID, test_score, type
         from mms_course_test_score
    </select>
</mapper>
