<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.system.exceloperation.mapper.ExcelTechnicalInfoMapper">

    <insert id="insertTechnicalInformation" parameterType="com.isoftstone.pmit.project.hrbp.entity.TechnicalInformation">
        INSERT INTO technical_information (technicalName, employeeID, technologyPlatform,
        technologyGrade, areasOfExpertise) VALUES
        <foreach collection="list" item="test" separator=",">
            (
            #{test.technicalName},
            #{test.employeeID},
            #{test.technologyPlatform},
            #{test.technologyGrade},
            #{test.areasOfExpertise}
            )
        </foreach>
    </insert>
</mapper>