<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.system.exceloperation.mapper.ExcelCompanyQualificationMapper">

    <insert id="insertCompanyQualification"
            parameterType="com.isoftstone.pmit.system.exceloperation.mapper.ExcelCompanyQualificationMapper">
        INSERT INTO mms_company_qualification (employeeID, qualificationName, qualificationType, certificationLevel,
        passDate, certificateNum) VALUES
        <foreach collection="list" item="test" separator=",">
            (
            #{test.employeeID},
            #{test.qualificationName},
            #{test.qualificationType},
            #{test.certificationLevel},
            #{test.passDate},
            #{test.certificateNum}
            )
        </foreach>
    </insert>
</mapper>