<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.system.exceloperation.mapper.ExcelCourseMapper">

    <select id="getCourse" resultType="com.isoftstone.pmit.project.hrbp.entity.ScoreCourse">
        select  employee_id, opening_id from mms_course_test_score
    </select>

    <insert id="insertCourse" parameterType="com.isoftstone.pmit.project.hrbp.entity.ScoreCourse">
        INSERT INTO mms_course_test_score (employee_id, opening_id, test_score, type, modifier) VALUES
        <foreach collection="list" item="test" separator=",">
            (
            #{test.employee_id},
            #{test.opening_id},
            #{test.test_score},
            #{test.type},
            #{test.modifier}
            )
        </foreach>
    </insert>

    <update id="updateCourse" parameterType="com.isoftstone.pmit.project.hrbp.entity.ScoreCourse">
        <foreach collection="list" item="test" index="index" open="" close="" separator=";">
            UPDATE mms_course_test_score
            <set>
                test_score = #{test.test_score}, type = #{test.type}, modifier = #{test.modifier}
            </set>
            WHERE employee_id = #{test.employee_id} AND opening_id = #{test.opening_id}
        </foreach>
    </update>
</mapper>
