<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:MM:SS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${user.dir}/logs/pmit.log</file>-->

        <!--日志文件名称设置-->
        <!--SizeBasedTriggeringPolicy根据大小， TimeBasedRollingPolicy根据时间。-->
        <!--SizeBasedTriggeringPolicy和TimeBasedRollingPolicy根据时间冲突。-->
        <!--SizeAndTimeBasedRollingPolicy根据大小和时间。-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/pmit.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!--日志输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:MM:SS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root levl="INFO">
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.isoftstone.pmit.system" level="DEBUG"/>
    <logger name="com.isoftstone.pmit.project" level="DEBUG"/>
</configuration>