<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.GetScoreMapper">

    <select id="getColumnName" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalScoreParameter" resultType="java.util.Map">
        (SELECT DISTINCT
        c.courseName AS courseName,
        c.courseDimension AS dimensionName,
        item.itemtype AS type
        FROM
        mms_course_table c
        INNER JOIN mms_examination_rule_item item ON c.courseName = item.itemName
        INNER JOIN mms_base_staff_info base ON base.employeeID = c.employeeID
        WHERE
        item.itemName = c.courseName and
        1=1
        <if test="bu != null and bu != ''">
            and base.bu = #{bu}
        </if>

        <if test="du != null and du != ''">
            and  base.du = #{du}
        </if>

        <if test="pdu != null and pdu != ''">
            and   base.pdu = #{pdu}
        </if>

        <if test="employeeID != null and employeeID != ''">
            and  base.employeeID like '%${employeeID}%'
        </if>

        <if test=" employeeName != null and employeeName != ''">
            or   base.employeeName like  '%${employeeName}%'
        </if>
        )
        UNION
        (SELECT DISTINCT
        t.transactionName AS courseName,
        t.dimensionName AS dimensionName,
        item.itemtype AS type
        FROM
        mms_transaction_table t
        INNER JOIN mms_examination_rule_item item ON t.transactionName = item.itemName
        INNER JOIN mms_base_staff_info base ON base.employeeID = t.employeeID
        WHERE
        item.itemName = t.transactionName and
        1=1
        <if test="bu != null and bu != ''">
            and base.bu = #{bu}
        </if>

        <if test="du != null and du != ''">
            and  base.du = #{du}
        </if>

        <if test="pdu != null and pdu != ''">
            and   base.pdu = #{pdu}
        </if>

        <if test="employeeID != null and employeeID != ''">
            and  base.employeeID like '%${employeeID}%'
        </if>

        <if test=" employeeName != null and employeeName != ''">
            or   base.employeeName like  '%${employeeName}%'
        </if>
        )

    </select>
    <select id="getAllCourseScore" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalScoreParameter" resultType="java.util.Map">
        SELECT
        source.employeeID AS employeeID,
        source.employeeName AS employeeName,
        score.itemName AS parentHeader,
        source.childHeader as childHeader,
        score.itemType AS itemtype,
        source.score AS score,
        score.pass AS pass,
        score.credit  AS credit
        FROM
        (
        (SELECT
        base.employeeID AS employeeID,
        base.employeeName AS employeeName,
        base.positionRole AS positionRole,
        base.rank AS rank,
        base.bu AS bu,
        base.du AS du,
        base.pdu AS pdu,
        course.transactionName AS parentHeader,
        course.dimensionName AS childHeader,
        course.dimensionScore AS score
        FROM
        mms_transaction_table course
        INNER JOIN mms_base_staff_info base ON course.employeeID = base.employeeID)
        union
        (SELECT
        base.employeeID AS employeeID,
        base.employeeName AS employeeName,
        base.positionRole AS positionRole,
        base.rank AS rank,
        base.bu AS bu,
        base.du AS du,
        base.pdu AS pdu,
        course.courseName AS parentHeader,
        course.courseDimension AS childHeader,
        course.courseScore AS score
        FROM
        mms_course_table course
        INNER JOIN mms_base_staff_info base ON course.employeeID = base.employeeID)
        ) source
        INNER JOIN (
        SELECT
        ruleItem.bu,
        ruleItem.roleName,
        ruleItem.roleLevel,
        item.itemtype,
        item.itemName,
        item.credit,
        item.pass
        FROM
        mms_examination_rule_item item
        INNER JOIN (
        SELECT
        base.bu,
        role.roleName,
        rule.roleLevel,
        rule.ruleId
        FROM
        mms_special_role role
        INNER JOIN mms_examination_rule rule ON role.roleId = rule.roleId
        INNER JOIN mms_base_staff_info base ON role.creatorId = base.employeeID
        ) ruleItem ON ruleItem.ruleId = item.ruleId
        ) score ON source.bu = score.bu
        AND source.rank = score.roleLevel
        AND source.positionRole = score.roleName
        AND source.parentHeader = score.itemName
        order by itemType

        <if test="bu != null and bu != ''">
            and source.bu = #{bu}
        </if>

        <if test="du != null and du != ''">
            and  source.du = #{du}
        </if>

        <if test="pdu != null and pdu != ''">
            and   source.pdu = #{pdu}
        </if>

        <if test="employeeID != null and employeeID != ''">
            and  source.employeeID like '%${employeeID}%'
        </if>

        <if test=" employeeName != null and employeeName != ''">
            or   source.employeeName like  '%${employeeName}%'
        </if>

    </select>
    <select id="getAllPersonalScores" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalScoreParam" resultType="com.isoftstone.pmit.project.hrbp.entity.PersonalScore">
        SELECT
        scores.employeeID AS employeeID,
        scores.employeeName AS employeeName,
        scores.bu AS bu,
        scores.costCenter AS costCenter,
        scores.types AS types,
        scores.score_time as scoreTime,
        scores.affair_name AS affairName,
        scores.series AS series,
        scores.score AS score,
        scores.modifier AS modifier,
        scores.scoresID AS scoresID,
        scores.nameId AS nameId
        FROM
        (
        SELECT
        trandieScore.transaction_dimension_id AS scoresID,
        trandieScore.employee_id AS employeeID,
        base.employeeName AS employeeName,
        base.bu AS bu,
        base.costCenter AS costCenter,
        trandieScore.type AS types,
        MAX(trandieScore.change_time) AS score_time,
        examination.affair_name AS affair_name,
        examination.series AS series,
        sum(trandieScore.score) AS score,
        basei.employeeName AS modifier,
        trandieScore.affair_id AS nameId
        FROM
        mms_transaction_dimension_score trandieScore
        INNER JOIN mms_base_staff_info base ON base.employeeID = trandieScore.employee_id
        INNER JOIN mms_base_staff_info basei ON basei.employeeID = trandieScore.modifier
        LEFT JOIN mms_examination_affair examination ON examination.affair_id = trandieScore.affair_id
        LEFT JOIN mms_examination_dimension dimension ON dimension.dimension_id = trandieScore.dimension_id
        GROUP BY  trandieScore.employee_id ,trandieScore.affair_id
        UNION
        SELECT
        testScore.cour_score_id AS scoresID,
        testScore.employee_id AS employeeID,
        base.employeeName AS employeeName,
        base.bu AS bu,
        base.costCenter AS costCenter,
        testScore.type AS types,
        opening.training_time AS training_time,
        opening.training_name AS training_name,
        opening.series AS series,
        testScore.test_score AS score,
        bases.employeeName AS modifier,
        testScore.opening_id AS nameId
        FROM
        mms_course_test_score testScore
        INNER JOIN mms_base_staff_info base ON base.employeeId = testScore.employee_id
        INNER JOIN mms_base_staff_info bases ON bases.employeeID = testScore.modifier
        LEFT JOIN mms_opening_setup_info opening ON opening.opening_id = testScore.opening_id
        ) scores
        <where>
            <if test="series != null and series != ''">
                 scores.series = #{series}
            </if>
            <if test="types != null and types != ''">
                and scores.types = #{types}
            </if>
            <if test="bu != null and bu != ''">
                and scores.bu = #{bu}
            </if>
            <if test="affairName != null and affairName != ''">
                and  scores.affairName = #{affairName}
            </if>
            <if test="employeeName != null and employeeName != ''">
                and scores.employeeName = #{employeeName}
            </if>
            <if test="employeeID != null and employeeID != ''">
                and scores.employeeID = #{employeeID}
            </if>
            <if test="null != startTime and null != endTime">
                AND scores.scoreTime between #{startTime} and #{endTime}
            </if>

        </where>
    </select>

    <delete id="deletePersonalScores" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalScore" >
        <if test="types == '评价' and types != null">
            delete from mms_transaction_dimension_score
            <where>
                <if test="employeeID != null and employeeID != ''" >
                    employee_id = #{employeeID}
                </if>
                <if test="nameID != null and nameID != ''">
                    and  affair_id = #{nameID}
                </if>
            </where>
        </if>
        <if test="types == '培训' and types != null">
            delete from mms_course_test_score where  cour_score_id = #{scoresID}
        </if>
    </delete>
    <update id="updatePersonalScores" parameterType="java.util.Map">
        <if test="types == '评价' and types != null">
            update mms_transaction_dimension_score set
            <if test="evaluator != null and evaluator != ''">
                evaluator = #{evaluator},
            </if>
            <if test="changeTime != null">
                changeTime = NOW(),
            </if>
            <if test="evaluation != null and evaluation != ''">
                evaluation = #{evaluation},
            </if>
            <if test="score != 0">
                score = #{score},
            </if>
            <if test="evaluator != null and evaluator != ''">
                evaluator = #{evaluator}
            </if>
            <where>
                <if test="tranAndDieId != null and tranAndDieId != ''">
                    transaction_dimension_id = #{tranAndDieId}
                </if>
            </where>
        </if>
        <if test="types == '培训' and types != null">
            update mms_course_test_score set test_score = #{score} ,modifier = #{modifier}  where  cour_score_id = #{scoresID}
        </if>
    </update>
    <select id="getPersonalTransactionInfo" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalScore" resultType="com.isoftstone.pmit.project.hrbp.entity.PersonalTranAndDimeScore">
        SELECT
        transaction_dimension_id AS tranAndDieId,
        employee_id AS employeeID,
        affair_id AS affairId,
        dimension_id AS dimensionId,
        score AS score,
        evaluation AS evaluation,
        evaluator AS evaluator,
        modifier AS evaluator,
        change_time AS changeTime,
        type AS types
        FROM
        mms_transaction_dimension_score
        <where>
            <if test="employeeID != null and employeeID != ''" >
                employee_id = #{employeeID}
            </if>
            <if test="nameID != null and nameID != ''">
                and  affair_id = #{nameID}
            </if>
        </where>

    </select>
</mapper>
