<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.ImageMapper">
   <!-- <resultMap id="SeletePersonalStyle" type="com.isoftstone.pmit.project.hrbp.entity.PersonalPhoto">
        <result property="employeeID" column="employeeID"/>
        <result property="photoLife" column="photoLife" jdbcType="BLOB"/>
        <result property="documentPhoto" column="documentPhoto" jdbcType="BLOB"/>
    </resultMap>
    <update id="insertImage" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalPhoto">
        update mms_personal_photo set photoLife = #{photoLife}
        <where>
            <if test="employeeID != null and employeeID != ''">
                employeeID = #{employeeID}
            </if>
        </where>
    </update>
    <select id="getPersonalImage" resultMap="SeletePersonalStyle" parameterType="java.lang.String">
        select  * from  mms_personal_style where employeeID = #{employeeID}
    </select>-->
    <update id="insertPersonalImagePath" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalStyle">
        update mms_personal_style set
        photosOfLife = #{photosOfLife}
        where employeeID = #{employeeID}
    </update>
    <update id="insertDocumentImagePath" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalStyle">
        update mms_personal_style set
        documentPhoto = #{documentPhoto}
        where employeeID = #{employeeID}
    </update>

</mapper>
