<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.LevelRlaMapper">

    <select id="queryRelationNode" parameterType="java.util.Map" resultType="LevelTreeNode">
        SELECT
        *
        FROM
        ${tableName}
        WHERE
        isLeafNode = TRUE AND isRelationNode = TRUE AND (
        1 = 2
        <if test="'' != nodes">
            OR nodeID in ${nodes}
        </if>
        <if test="paths != null">
            <foreach collection="paths" item="item" open="OR" separator="OR">
                nodePath LIKE '${item}%'
            </foreach>
        </if>
        )
        ORDER BY nodePath
    </select>

    <select id="queryLevelRlaLeafNode" parameterType="java.util.Map" resultType="LevelTreeNode">
        SELECT
        *
        FROM
        ${tableName}
        WHERE
        1 = 2
        <if test="'' != nodes">
            OR nodeID in ${nodes}
        </if>
        <if test="paths != null">
            <foreach collection="paths" item="item" open="OR" separator="OR">
                nodePath LIKE '${item}%'
            </foreach>
        </if>
        ORDER BY nodePath
    </select>

    <insert id="addLevelRlaNode" parameterType="java.util.Map">
        INSERT INTO
        ${tableName}
        (
        nodePath,
        <if test="null != nodeName and '' != nodeName">
            nodeName,
        </if>
        <if test="null != relationID">
            relationID,
        </if>
        isLeafNode,
        isRelationNode
        )
        VALUES
        (
        #{nodePath},
        <if test="null != nodeName and '' != nodeName">
            #{nodeName},
        </if>
        <if test="null != relationID">
            #{relationID},
        </if>
        <choose>
            <when test="null != isLeafNode">
                #{isLeafNode},
            </when>
            <otherwise>
                TRUE,
            </otherwise>
        </choose>
        <choose>
            <when test="null != isRelationNode">
                #{isRelationNode}
            </when>
            <otherwise>
                FALSE
            </otherwise>
        </choose>
        )
    </insert>

    <delete id="deleteLevelRlaNode" parameterType="java.util.Map">
        DELETE FROM
        ${tableName}
        WHERE
        nodeID = #{nodeID} OR nodePath LIKE '${nodePath}%'
    </delete>

    <update id="updateLevelRlaNode" parameterType="java.util.Map">
        UPDATE
        ${tableName}
        <set>
            <if test="null != nodeName and '' != nodeName">
                nodeName = #{nodeName},
            </if>
            <if test="null != isLeafNode">
                isLeafNode = #{isLeafNode},
            </if>
            <if test="null != isRelationNode">
                isRelationNode = #{isRelationNode},
            </if>
            <if test="null != relationID and '' != relationID">
                relationID = #{relationID},
            </if>
        </set>
        WHERE
        nodeID = #{nodeID}
    </update>

    <select id="moveLevelRlaNode" parameterType="java.util.Map">
        UPDATE
        ${tableName}
        SET
        nodePath = REPLACE(nodePath,#{replaceSourcePath},#{replaceTargetPath})
        WHERE
        nodePath LIKE '${replaceSourcePath}%';

        UPDATE
        ${tableName}
        SET
        nodePath = #{replaceParentPath}
        WHERE
        nodeID = #{moveNodeID};
    </select>
</mapper>