<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.LoginMapper">
    <resultMap type="com.isoftstone.pmit.project.hrbp.entity.LoginInformation" id="StaffResult">
        <id     property="loginID"         column="login_id"      />
        <result property="employeeID"       column="employee_ID"      />
        <result property="employeeName"       column="employee_name"      />
        <result property="password"       column="pass_word"      />
        <result property="roleID"       column="role_id"      />
    </resultMap>
    <select id="findStaffByEmployeeId" parameterType="java.lang.String" resultMap="StaffResult">
        select
        login_id loginId,
        employee_ID employeeId,
        employee_name employeeName,
        pass_word password,
        role_id roleID
        from login_information
        where
        employee_ID='${_parameter}'
    </select>
</mapper>