<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.MainstayReportMapper">
    <select id="queryMainstayProportionChart"  parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        SELECT
          SUM(CASE WHEN po_role.po_role_id IS NULL THEN 0 ELSE 1 END) AS backnonenum,
          SUM(CASE WHEN po_role.po_role_id IS NULL THEN 1 ELSE 0 END) AS nobacknonenum
        FROM
          base_staff_info
        LEFT JOIN
          (
          SELECT
            staff_id,
            po_role_id
          FROM
            po_staff_info,po_temp
          WHERE
            po_staff_info.project_id =po_temp.poID
            AND
            po_temp.endDate >= CURRENT_DATE
          ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <if test="null != bu and '' != bu">
                base_staff_info.bu = #{bu}
            </if>
            <if test="null != workPlaceArea and '' != workPlaceArea">
                AND base_staff_info.workPlaceArea = #{workPlaceArea}
            </if>
            <if test="null != cu and '' != cu">
                AND base_staff_info.pdu = #{cu}
            </if>
        </where>
    </select>

    <select id="queryCostCenterMainstay" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          base_staff_info.costCenter AS name,
          COUNT(*) AS number
        FROM
          base_staff_info
        LEFT JOIN
          (
          SELECT
            staff_id,
            po_role_id
          FROM
            po_staff_info,po_temp
          WHERE
            po_staff_info.project_id =po_temp.poID
            AND
            po_temp.endDate >= CURRENT_DATE
          ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <choose>
                <when test="isBacknone">
                    po_role.po_role_id IS NOT NULL
                </when>
                <otherwise>
                    po_role.po_role_id IS NULL
                </otherwise>
            </choose>
            <if test="null != bu and '' != bu">
                AND base_staff_info.bu = #{bu}
            </if>
            <if test="null != workPlaceArea and '' != workPlaceArea">
                AND base_staff_info.workPlaceArea = #{workPlaceArea}
            </if>
            <if test="null != cu and '' != cu">
                AND base_staff_info.pdu = #{cu}
            </if>
        </where>
        GROUP BY base_staff_info.costCenter
    </select>

    <select id="queryMainstayByPost" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          po_role.po_role_id AS name,
          COUNT(*) AS number
        FROM
          base_staff_info
        LEFT JOIN
          (
          SELECT
            staff_id,
            po_role_id
          FROM
            po_staff_info,po_temp
          WHERE
            po_staff_info.project_id =po_temp.poID
            AND
            po_temp.endDate >= CURRENT_DATE
          ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <choose>
                <when test="isBacknone">
                    po_role.po_role_id IS NOT NULL
                </when>
                <otherwise>
                    po_role.po_role_id IS NULL
                </otherwise>
            </choose>
            <if test="null != bu and '' != bu">
                AND base_staff_info.bu = #{bu}
            </if>
            <if test="null != workPlaceArea and '' != workPlaceArea">
                AND base_staff_info.workPlaceArea = #{workPlaceArea}
            </if>
            <if test="null != cu and '' != cu">
                AND base_staff_info.pdu = #{cu}
            </if>
        </where>
        GROUP BY po_role.po_role_id
    </select>

    <select id="queryTrainingStaffs" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT
        base_staff_info.employeeID
        FROM
        base_staff_info
        LEFT JOIN
        (
        SELECT
        staff_id,
        po_role_id
        FROM
        po_staff_info,po_temp
        WHERE
        po_staff_info.project_id =po_temp.poID
        AND
        po_temp.endDate >= CURRENT_DATE
        ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <choose>
                <when test="isBacknone">
                    po_role.po_role_id IS NOT NULL
                </when>
                <otherwise>
                    po_role.po_role_id IS NULL
                </otherwise>
            </choose>
            <if test="null != bu and '' != bu">
                AND base_staff_info.bu = #{bu}
            </if>
            <if test="null != workPlaceArea and '' != workPlaceArea">
                AND base_staff_info.workPlaceArea = #{workPlaceArea}
            </if>
            <if test="null != cu and '' != cu">
                AND base_staff_info.pdu = #{cu}
            </if>
        </where>
    </select>

    <select id="queryTrainings" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          name,
          COUNT(*) AS number
        FROM
          (
          SELECT DISTINCT
            <choose>
                <when test="null != trainName and '' != trainName">
                    courseName AS name,
                </when>
                <otherwise>
                    trainName AS name,
                </otherwise>
            </choose>
            staffID
          FROM
            train_temp
          <where>
              <if test="null != staffIDs">
                  staffID IN
                  <foreach collection="staffIDs" item="item" open="(" separator="," close=")">
                      #{item}
                  </foreach>
              </if>
              <if test="null != trainName and '' != trainName">
                  AND trainName = #{trainName}
              </if>
          </where>
          ) temp
        GROUP BY name
    </select>

    <!--
    <select id="queryMainstayTraining" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        <choose>
            <when test="null != trainName and '' != trainName">
                courseName,
            </when>
            <otherwise>
                trainName,
            </otherwise>
        </choose>
          COUNT(*) AS mainstaynumber
        FROM
          (
          SELECT
            base_staff_info.employeeID
          FROM
            base_staff_info
          LEFT JOIN
            (
            SELECT
              staff_id,
              po_role_id
            FROM
              po_staff_info,po_temp
            WHERE
              po_staff_info.project_id =po_temp.poID
              AND
              po_temp.endDate >= CURRENT_DATE
            ) po_role
          ON base_staff_info.employeeID = po_role.staff_id
          <where>
              <choose>
                  <when test="isBacknone">
                      po_role.po_role_id IS NOT NULL
                  </when>
                  <otherwise>
                      po_role.po_role_id IS NULL
                  </otherwise>
              </choose>
              <if test="null != bu and '' != bu">
                  AND base_staff_info.bu = #{bu}
              </if>
              <if test="null != workPlaceArea and '' != workPlaceArea">
                  AND base_staff_info.workPlaceArea = #{workPlaceArea}
              </if>
              <if test="null != pdu and '' != pdu">
                  AND base_staff_info.pdu = #{pdu}
              </if>
          </where>
          ) staffInfo
        LEFT JOIN
          (
          SELECT DISTINCT
            <if test="null != trainName and '' != trainName">
                courseName,
            </if>
            trainName ,
            staffID
          FROM
            train_temp
          ) trainInfo
        ON staffInfo.employeeID = trainInfo.staffID
        <where>
            <if test="null != trainName and '' != trainName">
                trainName = #{trainName}
            </if>
        </where>
        GROUP BY trainName
        <if test="null != trainName and '' != trainName">
            ,courseName
        </if>
    </select>
    -->

    <select id="queryMainstayAge" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          SUM(CASE WHEN birthdayDate >= #{age30} THEN 1 ELSE 0 END) AS agelessthan30,
          SUM(CASE WHEN birthdayDate <![CDATA[ < ]]> #{age30} AND birthdayDate >= #{age40} THEN 1 ELSE 0 END) AS age30to40,
          SUM(CASE WHEN birthdayDate <![CDATA[ < ]]> #{age40} THEN 1 ELSE 0 END) AS agegreaterthan40
        FROM
          (
          SELECT
            base_staff_info.employeeID AS staff_id
          FROM
            base_staff_info
          LEFT JOIN
            (
            SELECT
              staff_id,
              po_role_id
            FROM
              po_staff_info,po_temp
            WHERE
              po_staff_info.project_id = po_temp.poID
              AND
              po_temp.endDate >= CURRENT_DATE
            ) po_role
          ON base_staff_info.employeeID = po_role.staff_id
          <where>
              <choose>
                  <when test="isBacknone">
                      po_role.po_role_id IS NOT NULL
                  </when>
                  <otherwise>
                      po_role.po_role_id IS NULL
                  </otherwise>
              </choose>
              <if test="null != bu and '' != bu">
                  AND base_staff_info.bu = #{bu}
              </if>
              <if test="null != workPlaceArea and '' != workPlaceArea">
                  AND base_staff_info.workPlaceArea = #{workPlaceArea}
              </if>
              <if test="null != cu and '' != cu">
                  AND base_staff_info.pdu = #{cu}
              </if>
          </where>
          ) staff_info
        LEFT JOIN
          family_information
        ON
          staff_info.staff_id =family_information.employeeID
    </select>

    <select id="queryBaseStaffInfoSize" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        COUNT(*) AS totleNumber
        FROM
        base_staff_info
        LEFT JOIN
        (
        SELECT
        staff_id,
        po_role_id
        FROM
        po_staff_info,po_temp
        WHERE
        po_staff_info.project_id =po_temp.poID
        AND
        po_temp.endDate >= CURRENT_DATE
        ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <choose>
                <when test="isBacknone">
                    po_role.po_role_id IS NOT NULL
                </when>
                <otherwise>
                    po_role.po_role_id IS NULL
                </otherwise>
            </choose>
            <if test="null != bu and '' != bu">
                AND base_staff_info.bu = #{bu}
            </if>
            <if test="null != workPlaceArea and '' != workPlaceArea">
                AND base_staff_info.workPlaceArea = #{workPlaceArea}
            </if>
            <if test="null != cu and '' != cu">
                AND base_staff_info.pdu = #{cu}
            </if>
            <if test="null != post and '' != post">
                AND base_staff_info.generalPosition = #{post}
            </if>
            <if test="null != staffID and '' != staffID">
                AND base_staff_info.employeeID like '%${staffID}%'
            </if>
            <if test="null != staffName and '' != staffName">
                AND base_staff_info.employeeName like '%${staffName}%'
            </if>
        </where>
    </select>

    <select id="queryBaseStaffInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SET @r:=-1;

        SELECT
        *
        FROM
        (
        SELECT
        @r:=@r+1 as row_num,
        employeeID AS staffID,
        employeeName AS staffName,
        costCenter AS costCenter,
        sex AS sex,
        cooperationMode AS cooperationMode,
        positionRole AS positionRole,
        employmentDate AS employmentDate,
        graduationTime AS graduationTime,
        education AS education,
        if211 AS if211
        FROM
        base_staff_info
        LEFT JOIN
        (
        SELECT
        staff_id,
        po_role_id
        FROM
        po_staff_info,po_temp
        WHERE
        po_staff_info.project_id =po_temp.poID
        AND
        po_temp.endDate >= CURRENT_DATE
        ) po_role
        ON base_staff_info.employeeID = po_role.staff_id
        <where>
            <choose>
                  <when test="isBacknone">
                      po_role.po_role_id IS NOT NULL
                  </when>
                  <otherwise>
                      po_role.po_role_id IS NULL
                  </otherwise>
              </choose>
              <if test="null != bu and '' != bu">
                  AND base_staff_info.bu = #{bu}
              </if>
              <if test="null != workPlaceArea and '' != workPlaceArea">
                  AND base_staff_info.workPlaceArea = #{workPlaceArea}
              </if>
              <if test="null != cu and '' != cu">
                  AND base_staff_info.pdu = #{cu}
              </if>
              <if test="null != post and '' != post">
                  AND base_staff_info.generalPosition = #{post}
              </if>
              <if test="null != staffID and '' != staffID">
                  AND base_staff_info.employeeID like '%${staffID}%'
              </if>
              <if test="null != staffName and '' != staffName">
                  AND base_staff_info.employeeName like '%${staffName}%'
              </if>
          </where>
          ) TMP
        WHERE row_num BETWEEN #{rowStart} AND #{rowEnd}
    </select>

    <select id="queryStaffTrainInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          courseName,
          trainName,
          staffID,
          score,
          passScore,
          sourseScore
        FROM
          train_temp
        <where>
            <if test="null != staffIDs">
                staffID IN
                <foreach collection="staffIDs" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="null != trainName and '' != trainName">
                AND trainName = #{trainName}
            </if>
        </where>
    </select>
</mapper>