<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.MenuManageMapper">

	<select id="getMenus" resultType="com.isoftstone.pmit.project.hrbp.entity.MenuInfo">
		select
		m.menu_id as menuId,
		m.menu_name as menuName,
		m.parent_id as parentId,
		m.note as note
		FROM
			mms_menu m
		order by
			m.order_num
	</select>
    <select id="getMenuListByRoleId" parameterType="java.lang.Integer"  resultType="com.isoftstone.pmit.project.hrbp.entity.MenuInfo">
		SELECT
			m.menu_id as menuId,
			m.menu_name as menuName,
			m.parent_id as parentId,
			m.note as note
		FROM
			mms_menu m
			left join
				mms_role_menu rm
			on
				m.menu_id = rm.menu_id
        where
			rm.role_id = '${_parameter}'
		order by
			m.order_num
    </select>

	<select id="getMenuTreeByEmpID" parameterType="java.lang.String" resultType="com.isoftstone.pmit.project.hrbp.entity.MenuInfo">
		SELECT
			m.menu_id as menuId,
			m.menu_name as menuName,
			m.parent_id as parentId,
			m.note as note
		FROM
			mms_menu m
		left join
			mms_role_menu rm on m.menu_id = rm.menu_id
		left join
			mms_role hr on rm.role_id = hr.role_id
		left join
			mms_login_information li on hr.role_id = li.role_id
		where
			li.employee_ID = #{employeeID}
	</select>
</mapper>
