<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.MenuManageMapper">

    <select id="getMenuListByRoleId" parameterType="java.lang.String"  resultType="com.isoftstone.pmit.project.hrbp.entity.MenuInfo">
		SELECT
			m.menu_id as menuId,
			m.menu_name as menuName,
			m.remark as note
		FROM
			sys_menu AS m
		order by 
			m.order_num
    </select>

</mapper>