<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.PersonalCenterMapper">
	<resultMap id="personalHistoryAffairMapper" type="com.isoftstone.pmit.project.hrbp.entity.PersonalHistoryInfo">
		<id column="staffId" property="staffId"></id>
		<result column="staffName" property="staffName"></result>
		<result column="affairId" property="affairId"></result>
		<result column="affairName" property="affairName"></result>
		<result column="evaluatorId" property="evaluatorId"></result>
		<result column="affairId" property="affairId"></result>
		<result column="affairName" property="affairName"></result>
		<result column="series" property="series"></result>
		<result column="du" property="du"></result>
		<result column="sumScore" property="sumScore"></result>
		<collection property="PersonalAffairdimensionList" ofType="com.isoftstone.pmit.project.hrbp.entity.PersonalAffairdimension">
			<result column="transactionDimensionId" property="transactionDimensionId"></result>
			<result column="dimensionId" property="dimensionId"></result>
			<result column="dimensionName" property="dimensionName"></result>
			<result column="score" property="score"></result>
			<result column="evaluation" property="evaluation"></result>
		</collection>
	</resultMap>
	<select id="getPendingSolved" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			msa.staff_id as staffId,
			mbsi.employeeName as staffName,
			mea.affair_id as affairId,
			mea.affair_name as afairName,
			mea.series as series,
			mea.system as system,
			mbsi.du as du
		FROM 
			mms_staff_affair msa,
			mms_examination_affair mea,
			mms_base_staff_info mbsi
		WHERE 
			msa.staff_id = mbsi.employeeId AND
			mea.affair_id = msa.affair_id AND
			msa.is_solved = 0 and
			msa.evaluator_id = #{evaluatorId} 
	</select>
	<select id="getDimensionByAffair" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			mtds.transaction_dimension_id as transactionDimensionId,
			mtds.dimension_id as dimensionId,
			med.dimension_name as dimensionName,
			mtds.score as score,
			med.explanation
		FROM
			mms_examination_dimension med,
			mms_transaction_dimension_score mtds
		WHERE
			mtds.dimension_id = med.dimension_id AND
			mtds.affair_id = #{affairId} and mtds.employee_id = #{employeeID}
	</select>
	<select id="getStaffAffair" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		itemId,
		itemName
		FROM
		mms_examination_rule_item
		WHERE
		ruleId = (
			SELECT
				b.ruleId
			FROM
				(
					SELECT
					mpsi.staff_id,
					mbsi.employeeName,
					mpsi.po_role_id role,
					mbsi.bu,
					mbsi.rank
				FROM
					mms_base_staff_info mbsi,
					mms_po_staff_info mpsi,
					mms_project_information mpi
				WHERE
					employeeID = mpsi.staff_id AND mpi.projectId = mpsi.project_id AND mpi.endTime >= NOW()
					AND employeeID = #{staffId}
				) a
			INNER JOIN (
				SELECT
					mer.*, msr.roleName,
					mbsi.bu
				FROM
					mms_examination_rule mer,
					mms_base_staff_info mbsi,
					mms_special_role msr
				WHERE
					mbsi.employeeID = mer.creatorId
				AND mer.roleId = msr.roleId
			) b
			WHERE
				a.role = b.roleName
			AND a.bu = b.bu
			AND a.rank = b.roleLevel
		)
		AND itemType = 1
	</select>

	<select id="updateStaffAffairStatus" parameterType="java.util.Map" resultType="java.util.Map">
		update mms_staff_affair set is_solved = 1 where staff_id = #{staffId} and affair_id = #{affairId}
	</select>
	<select id="queryHistorySolved" parameterType="java.util.Map" resultMap="personalHistoryAffairMapper">
		SELECT
			a.staffId,
			a.staffName,
			a.evaluatorId,
			a.affairId,
			a.affairName,
			a.series,
			a.du,
			b.sumScore,
			b.transactionDimensionId,
			b.dimensionId,
			b.dimensionName,
			b.score,
			b.evaluation
		FROM
		(
		SELECT
			msa.staff_id AS staffId,
			mbsi.employeeName AS staffName,
			msa.evaluator_id evaluatorId,
			mea.affair_id AS affairId,
			mea.affair_name AS affairName,
			mea.series AS series,
			mea.system AS system,
			mbsi.du AS du
		FROM
			mms_staff_affair msa,
			mms_examination_affair mea,
			mms_base_staff_info mbsi
		WHERE
			msa.staff_id = mbsi.employeeId
		AND mea.affair_id = msa.affair_id
		AND msa.is_solved = 1
		) a
		LEFT JOIN (
		SELECT
		temp.*, med.dimension_name dimensionName
		FROM
		(
		SELECT
			a.employee_id employeeId,
			a.affair_id affairId,
			a.sumScore,
			a.changeTime,
			mtds.transaction_dimension_id transactionDimensionId,
			mtds.dimension_id dimensionId,
			mtds.score,
			mtds.evaluation
		FROM
			(
				SELECT
					mtds.employee_id,
					mtds.affair_id,
					SUM(mtds.score) sumScore,
					MAX(mtds.change_time) changeTime
				FROM
					mms_transaction_dimension_score mtds,
					mms_examination_dimension med
				WHERE
					mtds.dimension_id = med.dimension_id
				GROUP BY
					mtds.employee_id,
					mtds.affair_id
			) a
		LEFT JOIN mms_transaction_dimension_score mtds ON a.affair_id = mtds.affair_id
		AND a.employee_id = mtds.employee_id
		) temp
		LEFT JOIN mms_examination_dimension med ON temp.dimensionId = med.dimension_id
		) b ON a.staffId = b.employeeId
		where a.evaluatorId = #{evaluatorId}
	</select>
	<update id="saveEvaluation" parameterType="com.isoftstone.pmit.project.hrbp.entity.PersonalAffairdimension">
		update mms_transaction_dimension_score set score = #{score},evaluation = #{evaluation},modifier=(SELECT
                employee_name
                FROM
                mms_login_information
                WHERE
                employee_ID = #{employeeId}),change_time = now() where transaction_dimension_id = #{transactionDimensionId}
	</update>
</mapper>