<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.ProjectManageMapper">
    <select id="queryProjects" parameterType="java.util.Map" resultType="java.util.Map">
        SET @r:=-1;

        SELECT
        *
        FROM
        (
        SELECT
        @r:=@r+1 as row_num,
        mms_project_manage.*
        FROM
        mms_project_manage
        <where>
            <if test="null != teamIDs and !teamIDs.isEmpty()">
                <foreach collection="teamIDs" item="item" open="projectID IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="null != projectName and '' != projectName">
                AND projectName like '%${projectName}%'
            </if>
            <if test="null != pmName and '' != pmName">
                AND pmName like '%${pmName}%'
            </if>
        </where>
        ) TMP
        WHERE row_num BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY projectID DESC
    </select>

    <delete id="deleteProject" parameterType="java.util.Map">
        DELETE FROM mms_project_manage WHERE projectID = #{teamID}
    </delete>

    <select id="queryPMs" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          employeeID AS staffID,
          employeeName AS staffName
        FROM
        mms_base_staff_info
        WHERE
          currentStatus = 0
        <if test="null != pmName and '' != pmName">
            AND employeeName like '%${pmName}%'
        </if>
        <if test="null != pmID and '' != pmID">
            AND employeeID like '%${pmID}%'
        </if>
        <if test="null != BU and '' != BU">
            AND bu = #{BU}
        </if>
    </select>

    <insert id="insertProjectNode" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="projectID">
        INSERT INTO
        mms_project_manage(
        <if test="null != pmID">
            pmID,
        </if>
        <if test="null != pmName">
            pmName,
        </if>
        projectName
        )
        VALUES (
        <if test="null != pmID">
            #{pmID},
        </if>
        <if test="null != pmName">
            #{pmName},
        </if>
        #{projectName}
        )
    </insert>
</mapper>
