<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.ProjectManageMapper">
    <select id="queryNodes" parameterType="java.util.Map" resultType="ProjectTreeNode">
      SELECT
        nodeID,
        nodePath,
        nodeName,
        projectID,
        projectName,
        pmID,
        pmName
      FROM
        sys_project_level
      WHERE
        isProject = #{isProject}
        <if test="null != nodeIDs">
            AND nodeID IN
            <foreach collection="nodeIDs" separator="," open="(" item="item" close=")">
                #{item}
            </foreach>
        </if>
        <if test="null != pmName and '' != pmName">
            AND pmName LIKE '%#{pmName}%'
        </if>
        <if test="null != projectName and '' != projectName">
            AND pmName LIKE '%#{projectName}%'
        </if>
    </select>

    <insert id="addProjectNode" parameterType="java.util.Map">
        INSERT INTO
        sys_project_level
        (
        nodePath,
        projectID,
        pmID,
        <if test="null != projectName">
            projectName,
        </if>
        <if test="null != pmName">
            pmName,
        </if>
        isLeafNode,
        isProject
        )
        VALUES
        (
        #{nodePath},
        #{projectID},
        #{pmID},
        <if test="null != projectName">
            #{projectName},
        </if>
        <if test="null != pmName">
            #{pmName},
        </if>
        TRUE,
        TRUE
        )
    </insert>
</mapper>