<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.RelationMapper">
    <select id="queryAllLevel" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            *
        FROM
            mms_relation_info
        WHERE
            relationID = #{relationID}
        ORDER BY levelIndex ASC
    </select>

    <select id="queryTeamInfo" resultType="RelationTreeNode">
        SELECT
            projectID AS teamID,
            'Team' AS nodeType,
            projectName AS nodeName,
            1 AS isTeamNode
        FROM
            mms_project_manage
        WHERE
            projectID NOT IN (
                              SELECT
                                  teamID
                              FROM
                                  mms_relation_team
                              WHERE
                                  isTeamNode = TRUE
                              )
    </select>

    <select id="queryPOInfo" resultType="RelationTreeNode">
        SELECT
            projectid AS teamID,
            'Team' AS nodeType,
            projectName AS nodeName,
            1 AS isTeamNode
        FROM
            mms_project_information
        WHERE
            projectid NOT IN (
                              SELECT
                                  teamID
                              FROM
                                  mms_relation_po
                              WHERE
                                  isTeamNode = TRUE
                              )
    </select>

    <select id="queryTree" resultType="RelationTreeNode" parameterType="java.util.Map">
        SELECT
          *
        FROM
          ${tableName}
        ORDER BY nodePath
    </select>

    <insert id="addTeamNode" parameterType="java.util.Map">
        INSERT INTO
        ${tableName}
          (
          <if test="null != addNodeName and '' != addNodeName">
              nodeName,
          </if>
          nodePath,
          nodeType,
          <if test="null != addTeamID">
              teamID,
          </if>
          isTeamNode
          )
        VALUES
          (
          <if test="null != addNodeName and '' != addNodeName">
              #{addNodeName},
          </if>
          #{addNodePath},
          #{addNodeType},
          <if test="null != addTeamID">
              #{addTeamID},
          </if>
          <choose>
              <when test="null != addTeamID">
                  TRUE
              </when>
              <otherwise>
                  FALSE
              </otherwise>
          </choose>
          )
    </insert>

    <update id="deleteNode" parameterType="java.util.Map">
        UPDATE
          ${tableName}
        SET
          nodePath = REPLACE(nodePath,#{nodePath},':');

        DELETE FROM
          ${tableName}
        WHERE nodeID = #{nodeID}
    </update>

    <delete id="deleteNodeAndChildren" parameterType="java.util.Map">
        DELETE FROM
          ${tableName}
        WHERE
          nodeID = #{nodeID} OR nodePath LIKE '${nodePath}%'
    </delete>

    <update id="updateTreeNode" parameterType="java.util.Map">
        UPDATE
        ${tableName}
        <set>
            <if test="null != nodeName and '' != nodeName">
                nodeName = #{nodeName},
            </if>
        </set>
        WHERE
        nodeID = #{nodeID}
    </update>

    <select id="moveTreeNode" parameterType="java.util.Map">
        UPDATE
           ${tableName}
        SET
          nodePath = REPLACE(nodePath,#{replaceSourcePath},#{replaceTargetPath})
        WHERE
          nodePath LIKE '${replaceSourcePath}%';
        UPDATE
           ${tableName}
        SET
          nodePath = #{replaceParentPath}
        WHERE
          nodeID = #{moveNodeID};
    </select>

    <select id="queryNodes" parameterType="java.util.Map" resultType="RelationTreeNode">
      SELECT
        *
      FROM
        ${tableName}
      <where>
          <if test="nodeIDs != null and !nodeIDs.isEmpty()">
              <foreach collection="nodeIDs" item="item" open="nodeID IN (" separator="," close=")">
                  #{item}
              </foreach>
          </if>

          <if test="nodePaths != null and !nodePaths.isEmpty()">
              <foreach collection="nodePaths" item="item">
                  OR nodePath LIKE '${item}%'
              </foreach>
          </if>
      </where>
    </select>
</mapper>
