<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.RelationTreeMapper">
    <select id="queryAllLevel" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        *
        FROM
        mms_relation_info
        WHERE
        relationID = #{relationID}
        ORDER BY levelIndex ASC
    </select>

    <select id="queryTree" resultType="RelationTreeNode">
        SELECT
          *
        FROM
          mms_relation_team
        ORDER BY nodePath
    </select>

    <insert id="addTeamNode" parameterType="java.util.Map">
        INSERT INTO
        mms_relation_team
          (
          <if test="null != addNodeName and '' != addNodeName">
              nodeName,
          </if>
          nodePath,
          nodeType,
          <if test="null != addTeamID">
              teamID,
          </if>
          isTeamNode
          )
        VALUES
          (
          <if test="null != addNodeName and '' != addNodeName">
              #{addNodeName},
          </if>
          #{addNodePath},
          #{addNodeType},
          <if test="null != addTeamID">
              #{addTeamID},
          </if>
          <choose>
              <when test="null != addTeamID">
                  TRUE
              </when>
              <otherwise>
                  FALSE
              </otherwise>
          </choose>
          )
    </insert>

    <update id="deleteNode" parameterType="java.util.Map">
        UPDATE
          mms_relation_team
        SET
          nodePath = REPLACE(nodePath,#{nodePath},':');

        DELETE FROM
          mms_relation_team
        WHERE nodeID = #{nodeID}
    </update>

    <delete id="deleteNodeAndChildren" parameterType="java.util.Map">
        DELETE FROM
          mms_relation_team
        WHERE
          nodeID = #{nodeID} OR nodePath LIKE '${nodePath}%'
    </delete>

    <update id="updateTreeNode" parameterType="java.util.Map">
        UPDATE
        mms_relation_team
        <set>
            <if test="null != nodeName and '' != nodeName">
                nodeName = #{nodeName},
            </if>
        </set>
        WHERE
        nodeID = #{nodeID}
    </update>

    <select id="moveTreeNode" parameterType="java.util.Map">
        UPDATE
          mms_relation_team
        SET
          nodePath = REPLACE(nodePath,#{replaceSourcePath},#{replaceTargetPath})
        WHERE
          nodePath LIKE '${replaceSourcePath}%';
        UPDATE
          mms_relation_team
        SET
          nodePath = #{replaceParentPath}
        WHERE
          nodeID = #{moveNodeID};
    </select>

    <select id="queryNodes" parameterType="java.util.Map" resultType="RelationTreeNode">
      SELECT
        *
      FROM
        mms_relation_team
      <where>
          <if test="nodeIDs != null and !nodeIDs.isEmpty()">
              <foreach collection="nodeIDs" item="item" open="nodeID IN (" separator="," close=")">
                  #{item}
              </foreach>
          </if>

          <if test="nodePaths != null and !nodePaths.isEmpty()">
              <foreach collection="nodePaths" item="item">
                  OR nodePath LIKE '${item}%'
              </foreach>
          </if>
      </where>
    </select>

    <!--<select id="queryTeams" parameterType="java.util.Map" resultType="java.lang.Integer">-->
        <!--SELECT-->
          <!--teamID-->
        <!--FROM-->
          <!--(-->
          <!--SELECT-->
            <!--*-->
          <!--FROM-->
            <!--mms_relation_team-->
          <!--<where>-->
              <!--<if test="nodeIDs != null and !nodeIDs.isEmpty()">-->
                  <!--<foreach collection="nodeIDs" item="item" open="nodeID IN (" separator="," close=")">-->
                      <!--#{item}-->
                  <!--</foreach>-->
              <!--</if>-->

              <!--<if test="nodePaths != null and !nodePaths.isEmpty()">-->
                  <!--<foreach collection="nodePaths" item="item">-->
                      <!--OR nodePath LIKE '${item}%'-->
                  <!--</foreach>-->
              <!--</if>-->
          <!--</where>-->
          <!--) temp-->
        <!--WHERE-->
          <!--isTeamNode = TRUE-->
    <!--</select>-->
</mapper>
