<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.RoleMenuMapper">
    <delete id="deleteMenuByRid" parameterType="java.lang.Integer">
        DELETE FROM mms_role_menu WHERE role_id = #{roleId}
    </delete>
    <insert id="addMenu">
        INSERT INTO mms_role_menu(role_id,menu_id) VALUES(#{roleId},#{menuId})
    </insert>
    <delete id="deleteRole" parameterType="java.lang.Integer">
        delete from mms_role where role_id = #{roleId}
    </delete>
</mapper>
