<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.SysRoleMapper">
    <sql id="roleColumn">
        role_id as roleId,
        role_name as roleName,
        role_key as roleKey,
        role_sort as roleSort,
        create_time as createTime,
        description as description
    </sql>
    <select id="getRolesByEmployeeID" parameterType="java.lang.String" resultType="com.isoftstone.pmit.project.hrbp.entity.SysRole">
      select
      hr.role_id roleId,
      hr.role_name roleName,
      hr.description description
      from
      mms_login_information li
      inner join mms_role hr on hr.role_id = li.role_id
      where li.employee_ID= #{employeeID}
    </select>

    <insert id="insertSystemRole" parameterType="com.isoftstone.pmit.project.hrbp.entity.SysRole" useGeneratedKeys="true" keyProperty="roleId" >
        insert into mms_role(
        <if test="roleName != null and roleName != ''">role_name,</if>
        create_time,
        <if test="description != null and description != ''">description</if>
        )
        VALUES(
        <if test="roleName != null and roleName != ''">#{roleName},</if>
        now(),
        <if test="description != null and description != ''">#{description}</if>
        )
    </insert>

    <update id="updateSystemRole" parameterType="SysRole">
        update mms_role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            create_time = now(),
            <if test="description != null and description != ''">description = #{description}</if>
        </set>
        where role_id = #{roleId}
    </update>

    <select id="queryAllRoles" resultType="com.isoftstone.pmit.project.hrbp.entity.SysRole">
        select
        <include refid="roleColumn"/>
        from
        mms_role
    </select>
</mapper>
