<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.TeamLevelMapper">
    <select id="queryLevel" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT DISTINCT
        ${col} AS nodename
        FROM
        mms_relation_team
        <where>
            <if test="null != bg and '' != bg">
                AND BG = #{bg}
            </if>
            <if test="null != bd and '' != bd">
                AND BD = #{bd}
            </if>
            <if test="null != bu and '' != bu">
                AND BU = #{bu}
            </if>
            <if test="null != cu and '' != cu">
                AND CU = #{cu}
            </if>
            <if test="null != region and '' != region">
                AND region = #{region}
            </if>
            <if test="null != deliverDep and '' != deliverDep">
                AND deliverDep = #{deliverDep}
            </if>
        </where>
    </select>

    <select id="queryProjects" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT
          teamID
        FROM
        mms_relation_team
        <where>
            isTeamNode = 1
            <if test="null != bg and '' != bg">
                AND BG = #{bg}
            </if>
            <if test="null != bd and '' != bd">
                AND BD = #{bd}
            </if>
            <if test="null != bu and '' != bu">
                AND BU = #{bu}
            </if>
            <if test="null != cu and '' != cu">
                AND CU = #{cu}
            </if>
            <if test="null != region and '' != region">
                AND region = #{region}
            </if>
            <if test="null != deliverDep and '' != deliverDep">
                AND deliverDep = #{deliverDep}
            </if>
        </where>
    </select>

    <insert id="addTeamNode" parameterType="java.util.Map">
        INSERT INTO
        mms_relation_team
        (
        <if test="null != bg and '' != bg">
            BG,
        </if>
        <if test="null != bd and '' != bd">
            BD,
        </if>
        <if test="null != bu and '' != bu">
            BU,
        </if>
        <if test="null != cu and '' != cu">
            CU,
        </if>
        <if test="null != region and '' != region">
            region,
        </if>
        <if test="null != deliverDep and '' != deliverDep">
            deliverDep,
        </if>
        teamID
        )
        VALUES
        (
        <if test="null != bg and '' != bg">
            #{bg},
        </if>
        <if test="null != bd and '' != bd">
            #{bd},
        </if>
        <if test="null != bu and '' != bu">
            #{bu},
        </if>
        <if test="null != cu and '' != cu">
            #{cu},
        </if>
        <if test="null != region and '' != region">
            #{region},
        </if>
        <if test="null != deliverDep and '' != deliverDep">
            #{deliverDep},
        </if>
        #{teamID}
        )
    </insert>

    <select id="queryLevelNodes" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          teamID,
          isTemp,
          projectName as teamName
        <if test="null != levels">
            <foreach collection="levels" item="item" open="," separator=",">
                mms_relation_team.${item}
            </foreach>
        </if>
        FROM
        mms_relation_team
        LEFT JOIN
        mms_project_manage
        ON
        mms_relation_team.teamID = mms_project_manage.projectID
        <where>
            <if test="null != authorityIDs">
                <foreach collection="authorityIDs" item="item" open="teamID IN(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="addLevelTreeNode" parameterType="java.util.Map" keyProperty="key" useGeneratedKeys="true">
        INSERT INTO
        mms_relation_team
        (
        <if test="null != bg and '' != bg">
            BG,
        </if>
        <if test="null != bd and '' != bd">
            BD,
        </if>
        <if test="null != bu and '' != bu">
            BU,
        </if>
        <if test="null != cu and '' != cu">
            CU,
        </if>
        <if test="null != region and '' != region">
            region,
        </if>
        <if test="null != deliverDep and '' != deliverDep">
            deliverDep,
        </if>
        teamID
        )
        VALUES
        (
        <if test="null != bg and '' != bg">
            #{bg},
        </if>
        <if test="null != bd and '' != bd">
            #{bd},
        </if>
        <if test="null != bu and '' != bu">
            #{bu},
        </if>
        <if test="null != cu and '' != cu">
            #{cu},
        </if>
        <if test="null != region and '' != region">
            #{region},
        </if>
        <if test="null != deliverDep and '' != deliverDep">
            #{deliverDep},
        </if>
        #{key}
        );
    </insert>

    <delete id="deleteTeamTempNode" parameterType="java.util.Map">
        DELETE FROM
        mms_relation_team
        <where>
            <choose>
                <when test="null != bg and '' != bg">
                    BG = #{bg}
                </when>
                <otherwise>
                    BG IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="null != bd and '' != bd">
                    AND bd = #{bd}
                </when>
                <otherwise>
                    AND bd IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="null != bu and '' != bu">
                    AND BU = #{bu}
                </when>
                <otherwise>
                    AND BU IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="null != cu and '' != cu">
                    AND CU = #{cu}
                </when>
                <otherwise>
                    AND CU IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="null != region and '' != region">
                    AND region = #{region}
                </when>
                <otherwise>
                    AND region IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="null != deliverDep and '' != deliverDep">
                    AND deliverDep = #{deliverDep}
                </when>
                <otherwise>
                    AND deliverDep IS NULL
                </otherwise>
            </choose>
        </where>
    </delete>

    <delete id="deleteLevelTreeNode" parameterType="java.util.Map">

    </delete>

    <select id="queryLevels" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
        *
        FROM
        mms_level_info
        WHERE
        levelID = #{levelID}
    </select>

</mapper>
