<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.TrainingSettingMapper">

	<select id="queryBu" resultType="java.lang.String">
		select distinct bu from base_staff_info
	</select>
	
	<select id="querySort" resultType="java.lang.String">
		select distinct sort from training_info
	</select>
	
	<select id="querySeries" resultType="java.lang.String">
		select distinct series from training_info
	</select>
	
	<select id="queryTrainingList" parameterType="java.util.Map" resultType="com.isoftstone.pmit.project.hrbp.entity.TrainingInfo">
		select 
			training_id as trainingId,
			training_name as trainingName,
			series,
			sort,
			type,
			bu,
			creator_id as creatorId,
			creator_name ascreatorName,
			create_time as createTime,
			updater_id as updaterId,
			updater_name as updateName
		from 
			training_info 
		where 
			1=1
		<if test="null != sort">
            AND sort = '${sort}'
        </if>
		<if test="null != type">
            AND type = '${type}'
        </if>
		<if test="null != bu">
            AND bu = '${bu}'
        </if>
		<if test="null != pdu">
            AND trainingName like '%${trainingName}%'
        </if>
		<if test="null != series">
            AND series like '%${series}%'
        </if>
		<if test="null != series">
            AND training_id = #{trainingId}
        </if>
	</select>
	
	<select id="addTrainingInfo" parameterType="java.util.Map">
		insert into training_info (training_name, series, sort, type, bu, creator_id, creator_name, create_time, training_des, training_duration) values
		(#{trainingName}, #{series}, #{sort}, #{type}, #{bu}, #{creatorId}, #{creatorName}, now(), #{trainingDes}, #{trainingDuration}) 
	</select>
	
	<select id="updateTrainingInfo" parameterType="java.util.Map">
		update 
			training_info 
		set 
			training_name = #{trainingName},
			series = #{series},
			sort = #{sort},
			type = #{type},
			bu = #{bu},
			updater_id = #{updaterId},
			updater_name = #{updaterName},
			training_des = #{trainingDes},
			training_duration = #{trainingDuration}
		where 
			training_id = #{trainingId}
	</select>
	
	<select id="deleteTrainingInfo" parameterType="java.lang.Integer">
		delete from training_info where training_id = #{trainingId}
	</select>
	
</mapper>