<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.pmit.project.hrbp.mapper.UserManageMapper">
    <select id="findEmpInformationByEmpId" parameterType="java.lang.String" resultType="com.isoftstone.pmit.project.hrbp.entity.EmpInformationResult">
        SELECT
	    li.employee_name as employeeName,
	    li.employee_ID as employeeId,
	    si.pdu as pdu,
	    si.positionRole as positionRole,
        hr.role_name as roleName
        FROM
	    login_information li
        LEFT JOIN base_staff_info si ON si.employeeID = li.employee_ID
        LEFT JOIN hrbp_role hr ON li.role_id = hr.role_id
        WHERE
	    li.employee_ID =#{employeeID}
    </select>
    <select id="findEmpInformation"  resultType="com.isoftstone.pmit.project.hrbp.entity.EmpInformationResult">
        SELECT
	    li.employee_name as employeeName,
	    li.employee_ID as employeeId,
	    si.pdu as pdu,
	    si.positionRole as positionRole,
        hr.role_name as roleName
        FROM
	    login_information li
        LEFT JOIN base_staff_info si ON si.employeeID = li.employee_ID
        LEFT JOIN hrbp_role hr ON li.role_id = hr.role_id

    </select>

</mapper>